
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/*顶部固定栏*/
.entry{ max-width:1200px; min-width:1200px; margin:0 auto;}
.top{ display:block; width:100%; height:80px; position:fixed; z-index:999; left:0; top:0;background-color: #000;}
.top .entry{ height:80px; transition:all 0.4s ease 0s; position:relative;}
.top .entry:after{ display:block; content:" "; font-size:0; line-height:0; position:absolute; width:100%; height:1px; overflow:hidden; left:0; bottom:0; background:rgba(126,121,137,0.4);}
.top a{ color:#FFF; transition:all 0.18s ease-out 0s; text-decoration:none;}
.top a:hover{ color:#67AF27;}

.top .logo{ float:left; margin-top:22px; color:#FFF;}
.top .logo a{ display:block; background:url(../img/logo.png) no-repeat; padding-left:50px; text-decoration:none; line-height:34px; color:#FFF; font-size:28px;}
.top .logo a:hover{ opacity:0.8;}

.top .navWrap{ float:right;}
.top .nav{ float:left; margin:30px 0 0 50px;}
.top .nav li{ float:left; padding:0 20px;}
.top .nav li.current a{ color:#67AF27;}
.topBtns{ float:right; margin-top:32px; color:#FFF;}
.topBtns a{ float:left; margin:0 18px; height:38px; text-align:center; line-height:38px; font-size:16px; color:#FFF; border-radius:5px; cursor:pointer; position:relative; z-index:1;}
.topBtns a.register{ border:2px solid #CCC; border-radius:50px; padding:0 32px;}
.topBtns a.register:hover{ border-color:#67AF27; color:#FFF;}
.topBtns a.login{}

/*变白色*/
.changewhite{
    background-color: #fff;
    
}
.changewhite .entry a{
    color: #000;
}

/*中间部分*/
.content{
    position: relative;
    width: 100%;
    min-height:720px;
}
#sky{
    position: absolute;
    top: 80px;
    width: 100%;
    min-height:720px;
    background: url(../img/yuncai.png) no-repeat;
    background-size: 100% auto;
  /*  background-position:-1505px 0;*/
}
.section{
    position: absolute;
    top: 80px;
    width: 100%;
    min-height:720px;
    background: url(../img/yuncai.png) no-repeat;
    background-size: 100% auto;
  /*  background-position:0 0;*/
    /*padding: 100px;*/
}
#info{
    background: url(../img/info-bg.png) no-repeat;
    width:570px;
    height:560px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid #FDCED7;
    box-shadow: 10px 7px 8px #888888; 
    border-radius: 10px;
    
}
#info .navbar,#info .nav{
    border-radius: 10px;
}

#info .active a{
    background-color: #FCADBD;
    color: #fff;
    border-radius: 10px;
}
.navbar-default{
    background-color: rgba(248,248,248,0.5);
    border-color: #FDCED7;
    border-bottom-color: #FCADBD ;
}
.active{
    background-color: #fff;
}
/*基本信息*/
.info-basic{
    width:240px;
    margin: auto;
}
.info-basic label{
    margin-top: 17px;
}
.info-basic input{
    border-color: #FCADBD;
    background-color: rgba(255,255,255,0.7);
}

/*我的对联*/
.my-duilian{
    width: 500px;
    margin: auto;
    color: #666;
    font-weight: bold;
    font-size: 12px;
}
.my-duilian div{
    background: url(../img/card2.png) no-repeat center center scroll;
    height:105px;
    padding: 22px 30%;
    margin-top: 10px;
}

/*我的积分*/
.my-points{
    width:240px;
    margin: auto;
    margin-top: 100px;
    color: #666;
    font-weight: bold;
}
.my-points h4{
    color: #F2859A;
    font-weight: bold;
    margin-left: -80px;
}

/* Footer */

footer {
    padding: 130px 0 50px 0;
    background-color: #fff;
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
