body{ background-color:#FEEFF2}
/*顶部固定栏*/
.entry{ max-width:1200px; min-width:1200px; margin:0 auto;}
.top{ display:block; width:100%; height:80px; position:fixed; z-index:999; left:0; top:0;background-color: #000;}
.top .entry{ height:80px; transition:all 0.4s ease 0s; position:relative;}
.top .entry:after{ display:block; content:" "; font-size:0; line-height:0; position:absolute; width:100%; height:1px; overflow:hidden; left:0; bottom:0; background:rgba(126,121,137,0.4);}
.top a{ color:#FFF; transition:all 0.18s ease-out 0s; text-decoration:none;}
.top a:hover{ color:#67AF27;}

.top .logo{ float:left; margin-top:22px; color:#FFF;}
.top .logo a{ display:block; background:url(../img/logo.png) no-repeat; padding-left:50px; text-decoration:none; line-height:34px; color:#FFF; font-size:28px;}
.top .logo a:hover{ opacity:0.8;}

.top .navWrap{ float:right;}
.top .nav{ float:left; margin:30px 0 0 50px;}
.top .nav li{ float:left; padding:0 20px;}
.top .nav li.current a{ color:#67AF27;}
.topBtns{ float:right; margin-top:32px; color:#FFF;}
.topBtns a{ float:left; margin:0 18px; height:38px; text-align:center; line-height:38px; font-size:16px; color:#FFF; border-radius:5px; cursor:pointer; position:relative; z-index:1;}
.topBtns a.register{ border:2px solid #CCC; border-radius:50px; padding:0 32px;}
.topBtns a.register:hover{ border-color:#67AF27; color:#FFF;}
.topBtns a.login{}

/*变白色*/
.changewhite{
	background-color: #fff;
	
}
.changewhite .entry a{
	color: #000;
}
/*瀑布流*/
.container{
	margin-top: 100px;
}
.grid {
	position: relative;
	margin: 0 auto;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

/*按钮*/
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}
.grid .bigvalue{
    position: absolute;
    top:40%;
    left: 37%;
}
.grid__item {
	width: 270px;
	padding: 10px;
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.preview--open {
	pointer-events: auto;
}


/* circle overlay (generated SVG) */

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.overlay circle {
	-webkit-transition: fill-opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: fill-opacity 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
	fill: #1f1d1d;
	fill-opacity: 0;
}

.preview--open .overlay circle {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	fill-opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	transition: transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	color: #fff;
}

.js .description--grid {
	display: none;
}

.description--preview {
	position: fixed;
	z-index: 140;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2em 1em;
	text-align: center;
	opacity: 0;
	background: linear-gradient(180deg, transparent, #1f1d1d);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: #6bd68a;
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: #6bd68a;
	outline: none;
}

.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}

/* Footer */

footer {
	background-color: #fff;
    padding: 10px 0 30px 0;
    margin-top: 80px;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}